.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  font-size: 25px;
}

.message-box i {
  font-size: 64px;
  padding-bottom: 20px;
}
