.expense-card-row {
  margin-bottom: 0px !important;
}

.expense-card-checkbox {
  padding-top: 7px !important;
  padding-left: 20px !important;
}

.expense-card-content {
  line-height: 32px;
  min-height: 55px;
  justify-content: center;
  flex-direction: column;
}

.expense-card-price {
  font-size: 18px;
  font-weight: 300;
}

.expense-card-button {
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  margin-bottom: 12px;
}
